body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex{
  display: flex;
}

.card-type{
  border: 1px solid mediumvioletred;
    border-radius: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 700;
    color:darkgray;
}

.crad-container {
  /* box-shadow: 17px 19px 8px -8px rgb(0 0 0 / 10%), -19px -13px 15px 0px rgb(0 0 0 / 10%), -3px 10px 3px -3px rgb(0 0 0 / 10%), -15px 10px 15px -3px rgb(0 0 0 / 10%), 0px 10px 15px -3px rgb(0 0 0 / 10%), 0px 10px 15px -3px rgb(0 0 0 / 10%); */
  width: 100%;
  box-shadow:
  3.9px 5.8px 22.6px rgba(0, 0, 0, 0.028),
  10.8px 16px 62.6px rgba(0, 0, 0, 0.04),
  25.9px 38.6px 150.7px rgba(0, 0, 0, 0.052),
  86px 128px 500px rgba(0, 0, 0, 0.08)
;

}

.crad-container:hover{
  transform: translateY(-6px);
 /* transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5); */
    transition-duration: 600ms;
  transition-timing-function: ease;

}

.card-title {
  font-size: 22px;
  font-weight: 700;
}

.card-owner {
  font-size: 14px;
  font-weight: 500;
  color: gray;
  text-transform: capitalize;
}

.card-type-icon {
  width: 40px;
  background: #ffeef0;
  border-radius: 100%;
  padding: 9px;
  height: 40px;
}

.card-type-icons{
  width: 30px;
  /* background: #ffeef0; */
  border-radius: 100%;
  /* padding: 9px; */
  height: 30px;
}

.card-type {
  border: 1.5px solid darkgray;
  border-radius: 6px;
  padding: 1px 6px;
  text-transform: uppercase;
  font-weight: 700;
  color: darkgray;
  font-size: 13px;
}

.card-expiry-deatils {
  font-size: 14px;
  text-transform: capitalize;
  color: gray;
}

span.spent-circ {
  background: #EB4869;
  
}
.avspent-circ{
   background-color: green;
}

.avspent-circ,span.spent-circ{
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 100%;
  margin-right: 10px;
  flex: 0 0 7px;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #41464b #41464b #41464b;
}


.nav-link {
  display: block;
  padding:.2rem 0.5rem;
}

